<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="static/main.css">
</head>
<body>
<h1>Welcome to Flatmate WebApp</h1>


 <h2>About Flatmate WebApp</h2>
<p>This app helps you split bills between two flatmates effortlessly. Simply enter the bill amount, select the period, and let the app do the rest!</p>
 <h2>Get Started</h2>
<p>Click the link below to calculate the bill:</p>

<a href="{{url_for('bill_form_page')}}" class="bill-link"> Go to bill page</a>


<p>&copy; 2024 Flatmate WebApp. All rights reserved.</p>

</body>
</html>