<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel="stylesheet" href="static/result.css">
</head>
<body>
<h1>Bill Split Result</h1>
<p>Bill period: {{period}}</p>

<table>
    <tr>
        <th>Name</th>
        <th>Amount Pays</th>
    </tr>
    <tr>
        <td>{{name1}}</td>
        <td>${{amount1}}</td>
    </tr>
    <tr>
        <td>{{name2}}</td>
        <td>${{amount2}}</td>
    </tr>
    <tr>
        <th>Total Amount</th>
        <th>${{total}}</th>
    </tr>
</table>

</body>
</html>